// .chart--container {
//     width: 250px;
//     height: 250px;
//     background-color: crimson;
// }


.chart {
    display: block;
}

.chart rect {
    fill: steelblue;
}
  
.chart text {
    fill: #333;
    font: 10px sans-serif;
    text-anchor: middle;
}

.chart--wrapper {
    margin-top: 5px;
    height: 450px;
    width: 600px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart--container {
    position: relative;   
}

.btn {
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: #dfdfdf;
    width: 100px;
    height: 50px;
    color: white;
    border: none;
    display: flex;
    padding: 0 2.5px;
    justify-content: space-between;
    align-items: stretch;
}

.btn--degree {
    line-height: 3em;
    font-size: 1.5em;
    flex-grow: 1;
    background-color: none;
    border-radius: 5px;
    &-active {
        background-color: crimson;
    }
}