// .chart--container {
//     width: 250px;
//     height: 250px;
//     background-color: crimson;
// }


.chart {
    display: block;
}

.chart rect {
    fill: steelblue;
}
  
.chart text {
    fill: #333;
    font: 10px sans-serif;
    text-anchor: middle;
}

.chart--wrapper {
    margin-top: 5px;
    height: 450px;
    width: 600px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart--container {
    position: relative;   
}

.degreeBtn {
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: crimson;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
}